<h2>
  Programming Exercise
</h2>
<p>
  Use the MV* Javascript framework of your choice (e.g. Backbone , AngularJS, Knockout, etc.) to implement a page that satisfies the user story below. Submit a zip file containing the solution.
</p>
<h2>
  User Story
</h2>
<p>
  As a teacher, I want to enter a list of student names along with his or her test score on a page, so I may see a summary of my class’ performance on a test. The summary shall include the min, max, and average grade.
</p>
<h2>
  Acceptance Criteria
</h2>
<ul>
  <li>
    The list shall support CRUD operations on student names and his or her associated grade
  </li>
  <li>
    The list shall support in-line editing of student names and grades, such that changing a test score and pressing enter (or clicking away from the input field) updates the model
  </li>
  <li>
    Statistics shall automatically update after CRUD operations are performed
  </li>
  <li>
    The list shall validate user input
  </li>
  <li>
    Students in the list with a grade < 65 shall be highlighted to indicate a failing grade
  </li>
</ul>
<h2>
  Guidance
</h2>
<ul>
  <li>
    The use of server-side technology (i.e. ASP.NET, Node.js, etc.) is not required, but you are free to use it.
  </li>
  <li>
    You may use any mechanism that seems reasonable to preserve state (i.e. browser local storage, or a restful service), if your solution requires it. The simplest solution that gets the job done is fine, including mocking up a persistent data store.
  </li>
  <li>
    You may use any additional Javascript libraries (e.g. Underscore, JQuery, etc), not mandated by the framework that are helpful.
  </li>
  <li>
    Don’t overthink / overcomplicate it.
  </li>
  <li>
    It’s OK to send us an e-mail if you have any questions.
  </li>
</ul>
