<div class="main" ng-controller="MainCtrl">
  <h2>Summary goes here</h2>
  <form name="scoreForm" id="scoreForm" ng-submit="addScore(newScore)">
    <input type="text"
           class="form-input"
           ng-model="newScore.name"
           tabindex="1"
           placeholder="Name"
           ng-required="true"/>
    <input type="number"
           class="form-input"
           ng-model="newScore.value"
           tabindex="2"
           placeholder="Score"
           ng-required="true"/>
    <button type="submit" tabindex="3" class="btn btn-primary">Add Score</button>
  </form>

  <ul class="scores">
    <li class="score"
        ng-repeat="score in scores"
        ng-init="showControls=false"
        ng-mouseenter="showControls=true"
        ng-mouseleave="showControls=false">
      <span class="data" ng-class="{fail: score.value < 65}">
          <span class="item">{{score.name}}</span>
          <span class="item">{{score.value}}</span>
      </span>
      <span ng-show="showControls">
          <a ng-click="updateScore('{{score.uuid}}')"><span class="glyphicon glyphicon-edit"></span></a>
          <a ng-click="removeScore('{{score.uuid}}')"><span class="glyphicon glyphicon-remove"></span></a>
      </span>
    </li>
  </ul>
</div>
